<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<div>
    <h1>这是一个卖的商品1</h1>
    <form action="javascript:;">
        <img src="../images/pic3.jpg"/>
        <input id="orderNumber" type="hidden" name="orderNumber" value="13123423q"/>
        <input id="goodsName" type="text" name="goodsName" value="贵人鸟男鞋" readonly/>
        <input id="txnAmt" type="text" name="txnAmt" value="560" readonly/>
        <input id="union" type="button" value="去银联付款"/>
        <input id="alipay" type="button" value="去支付宝付款"/>
    </form>
</div>

这是性别为女的所有人名单
<div  th:each="name:${userNames}">
    <p th:text="'姓名：'+${name}"></p>
</div>
这是一所有人员列表
<div th:each="smbmsUser,smbmsUserStat:${userList}">
    <p th:text="'姓名：'+${smbmsUser.userName}"></p>
    <p th:text="'地址：'+${smbmsUser.address}"></p>
</div>
<script type="text/javascript" src="../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var orderNumber=$("#orderNumber").val();
	var goodsName=$("#goodsName").val();
	var txnAmt=$("#txnAmt").val();
	$("#union").click(function(){
		$.ajax({
			url:"union/orderpay",
			data:{"orderNumber":orderNumber,"goodsName":goodsName,"txnAmt":txnAmt},
			type:"post",
			success:function(data){
			  $("body").html("").html(data);				
			}			
		});
	});

    $("#alipay").click(function(){
    	$.ajax({
			url:"alipay/goAlipay",
			data:{"orderNumber":orderNumber,"goodsName":goodsName,"txnAmt":txnAmt},
			type:"post",
			success:function(data){
			  $("body").html("").html(data);				
			}			
		});
	});
});



</script>
</body>
</html>